@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #282a26;
}


  /* Navigation bar & Logo */
h1, h2 {
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    color: #282a26;
}

header {
    background-color: #3d5c51;
    height: 150px;
    width: 100%;
}

#logo-image {
    float: left;
    height: 130px;
    width:  130px;
    padding: 10px 0;
    margin-left: 10%;
}

#logo-text {
    float: left;
    font-size: 250%;
    color: #ffffff;
    letter-spacing: 2px;
    margin-left: 1%;
}

/* navigation menu styling */

#menu {
    font-size: 120%;
    letter-spacing: 4px;
    margin-right: 13%;
}

#logo, #logo-text, #menu {
    line-height: 150px;
}

#menu li {
    float: right;
    list-style-type: none;
}

#menu-margin {
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #ffffff;
}

#menu a:hover {
    border-bottom: 2px solid #ffffff;
}

.active {
    border-bottom: 2px solid #ffffff;
}

/* hero image*/
#hero {
 height: 600px;
 position: relative;
 color: #ffffff;
}

#hero-background {
 background-image: url(../images/church\ blurred.jpg);
 height: 600px;
 width: 100%;
 background-size: cover;
 background-position: center;
 margin-top: 10px;
}

#cover-text {
    font-size: 220%;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 20px;

    background-color: rgba(147,20,11, 0.7);

    bottom: 50px;
    right: 13%;

    position: absolute;
}

/* about elements */
#about {
    height: 600px;
}

/* credit https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Text/Wrapping_Text */
.about-box {
    overflow-wrap: break-word;
}

#about-text {
    display: inline-block;
    padding-top: 50px;
    margin-left: 10%;
    width: 40%;
    float: left;
}

#about-text h1 {
    font-size: 300%;
    letter-spacing: 2px;
}

#about-video {
    padding-top: 50px;
    width: 40%;
    float: right;
    position: relative;
    left: 0.9%;
}

#video-player {
    width: 728px; 
    height: 410px
}

/* footer elements */
footer {
    height: 150px;
    width: 100%;
    background-color: #3d5c51;
    list-style-type: none;
}

.socials {
    text-align: center;
    list-style-type: none;
}

.socials > li {
    display: inline;
    margin-left: 30px;
}

.socials i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #ffffff;
}


@media screen and (max-width: 1920px) {
    #video-player {
        width: 480px;
        height: 270px;
    }

}

/* responsive design medium screens <1300px width */
@media screen and (max-width: 1200px) {
#logo-image {
    height: 100px;
    width:  100px;
    padding-top: 25px;
    margin-left: 5%;
 }

 #logo-text {
    font-size: 200%;
 }
}

/* responsive design small screens <950px width */
@media screen and (max-width: 950px) {
    header {
        height: 90px;
    }
    
    #logo-image {
        height: 70px;
        width: 70px;
        padding: 5px 0;
        margin: 0;
    }
    
    #logo-text {
        line-height: 50px;
        margin-top: 10px;
        margin-left: 10px;
    }

    #menu {
        clear:left;
        float: left;
        font-size: 100%;
        margin-left: 10px;
        margin-bottom: 20px;
        line-height: 25px;
        position: relative;
            left: 70px;
            bottom: 30px;
    }
       
}